:root {
    --blackberry-color: #350721;
    --dark-lavender-color: #79516b;
    --cadetGrey-color: #1f624d;
    --Olive-drab-color: #5c621f;
    --section-color: #eff7fa;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-btn {
    background-color: var(--cadetGrey-color);
    color: var(--blackberry-color);
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: var(--dark-lavender-color);
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--dark-lavender-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Start Navbar */
.navbar {
    background-color: var(--blackberry-color);
}

.navbar .navbar-nav .nav-link,
.logo {
    color: rgb(190, 186, 186);
    margin-top: 10px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
.logo {
    color: var(-- --dark-lavender-color);
}

.navbar .search {
    border-left: 1px solid var(--dark-lavender-color);
}

.navbar .search svg {
    color: var(--dark-lavender-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--dark-lavender-color);
}

/* End Navbar */
/* Start Landing */
.landing {
    background-color: var(--blackberry-color);
    min-height: calc(100vh - 72px);
}

/* End Landing */

/* Start Our Work */
.our-work {
    background-color: var(--section-color);
}

.our-work ul .active {
    background-color: var(--cadetGrey-color);
    color: var(--dark-lavender-color);
}

.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:not(.active):hover {
    color: var(--cadetGrey-color);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgba(156, 86, 88, 0.76);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover::before {
    transform: translateX(0);
}

/* End Our Work */
/* Start Stuff */
.stuff .description {
    max-width: 500px;
}

/* End Stuff */
/* Start Team */
.team {
    background-color: var(--section-color);
}

.team h2 {
    color: var(--dark-lavender-color);
}

.team .box h4 {
    background-color: var(--blackberry-color);
}

/* End Team */
/* Start Project */
.project {
    background-color: var(--blackberry-color);
}

/* End Project */
/* Start Subscribe */
.subscribe {
    background-color: var(--dark-lavender-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--blackberry-color);
    color: var(--dark-lavender-color);
}

/* End Subscribe */